<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
    <title>Nova AI</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="nova_main">
        <div class="name-signup">
            <div class="name">
                <img src="nova-logo.svg" alt="NOVA">
            </div>
            <!-- <div class="login-signup">
                <button class="login">Login</button>
                <button class="signup">Sign Up</button>
            </div> -->
        </div>

        <div class="chat-output-main">
            <div class="chat_output">
                <!-- Messages will appear here -->
                 <div class="welcome-message">
                    <img src="nova-logo.svg" alt="Welcome to Nova" class="welcome-icon">
                    <h2>Welcome to Nova AI</h2>
                    <p>Please Enter Your Question</p>
                    <div class="suggestion-chips">
                        <button>How To Create a Website ?</button>
                        <button>What is Standard Template Library in C++ ?</button>
                        <button>How Internally AI Works ?</button>
                    </div>
                 </div>
            </div>
        </div>

        <div class="chat-field">
            <div class="chat-box">
                <form action="" method="post" style="width: 100%;">
                    <input type="text" placeholder="Ask Nova @mention an Agent" style="width: 100%;">
                </form>
                <div class="pause-chat">
                    <i class="ri-send-plane-2-fill" id="pause"></i>
                </div>
            </div>
        </div>
    </div>

    <script src="script.js"></script>
</body>

</html>